.game-background-img {
  background: url("https://cdn.suwalls.com/wallpapers/anime/studio-ghibli-characters-36913-3840x2160.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 0;
}

.ea-game {
  height: 260px;
  width: 260px;
  background-color: black;
  border-radius: 50%;
  margin-left: 10%;
  margin-top: 45px;
}

.victory-gif {
  height: 200px;
  box-shadow: 0 0 25px black, -3px 0 28px black,
    3px 0 28px black;
}

p {
  margin: 13px;
  padding-left: 35px;
}

.background {
  margin-top: 57px;
}

h2 {
  background-color: #6577c3e8;
  text-align: center;
  margin: 0;
  padding-top: 5px;
}

.guess-input {
  background-color: #6577c3e8;
  border-color: #6577c3e8;
  margin: 0;
  height: 32px;
  width: 210px;
}

.submit-guess {
  background-color: #6577c3e8;
  border-color: #6577c3e8;
  color: white;
  margin: 0;
  height: 37px;
  font-size: .8em;
  font-weight: bold;
  padding-top: 7px;
}

.wrong-guess {
  background-color: red;
}

.guess-input::placeholder {
  color: white;
}
