.movie-image {
  width: 220px;
  height: 220px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;

}

.movie-container {
  display: inline-flex;
  margin-left: 8%;
  margin-top: 60px;
  z-index: 1;

  & h2,
  & p {
    background-color: #000000d1;
    padding: 15px;
  }

  & h2 {
    height: 40px;
    text-align: center;
  }

  & p {
    width: 200px;
    height: 600px;
    overflow: hidden;
  }
}