.game-background-img {
  // opacity: .4;

  background: url("https://cdn.suwalls.com/wallpapers/anime/studio-ghibli-characters-36913-3840x2160.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 0;
}

.ea-game {
  height: 220px;
  width: 220px;
  background-color: black;
  border-radius: 50%;
  margin-left: 10%;
  margin-top: 45px;
}

p {
  padding-left: 35px;
}

.background {
  margin-top: 57px;
}

h2 {
  background-color: #6577C3;
  text-align: center;
  margin: 0;
  padding-top: 5px;
}