main {
  color: white;
  font-family: 'Gayathri', sans-serif;
  font-weight: bold;
  z-index: -1;
}

.section_films_display {
  overflow-y: scroll;
  background: url("http://41.media.tumblr.com/b4f3eb1230bebbc4d39964dfda9159f3/tumblr_nic5r95Fam1qcopb3o1_1280.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.section_game_display {
  background: url(https://cdn.suwalls.com/wallpapers/anime/studio-ghibli-characters-36913-3840x2160.jpg) no-repeat center center fixed;
}

h1 {
  background-color: #000000db;
  height: 100%;
  padding: 15px;
  position: fixed;
  top: 79px;
  left: 0;
  text-orientation: upright;
  writing-mode: vertical-lr;
  z-index: 5;
}

nav,
footer {
  background-color: black;
  height: 60px;
  width: 100%;
}

footer {
  bottom: 0;
  position: fixed;
}

nav {
  align-items: center;
  display: flex;
  justify-content: space-around;
  position: fixed;
  z-index: 2;
}

input,
button {
  height: 30px;
  font-family: 'Gayathri', sans-serif;
  font-weight: bold;
  margin: 10px;
}

button {
  width: 60px;
}

form {
  align-items: center;
  display: flex;
}

input {
  font-size: 15px;
  width: 220px;
}